body {
  align-items: center;
  background-color: #000;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 1860px;
  justify-content: center;
}

#canvas {
  background: #87e;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: auto;
}

.CONTENT {
  height: 1860px;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

h1, h2, div, p {
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  display: flex;
  justify-content: center;
  margin: auto;
}

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  height: 120px;
  text-transform: uppercase;
  width: 600px;
}

h1 {
  width: 640px;
  word-spacing: 56px;
}

.title {
  margin-top: 160px;
}

h1.title, h2.subtitle {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

.subtitle {
  margin-top: 8px;
}

.enter {
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  margin-top: 48px;
  transform: translateY(0);
  transition: background-color .2s, transform .2s;
  width: 60px;
}

.arrow {
  border: solid rgba(255,255,255,0.8);
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 16px;
  padding: 3px;
  transform: rotate(45deg) translate(-3.2px, -3.2px);
  width: 16px;
  -webkit-transform: rotate(45deg) translate(-3.2px, -3.2px);
}

.enter:hover {
  background-color: rgba(0,0,0,0.36);
  transform: translateY(-1.2px);
}

.main-row {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  position: absolute;
  transform: translateX(-33.3%);
  width: 300%;
}

p {
  font-family: 'Roboto', sans-serif;
}

.landing-page, .left-page, .right-page {
  margin: 700px 5.5% 0 5.5%;
  width: 26%;
}

.upper-part {
  height: 490px;
}

.button {
  cursor: pointer;
  font-size: 42px;
  height: 90px;
  transition: background .2s;
}

.current-project {
  display: flex;
  flex-direction: row;
  height: 100%;
  line-height: 34px;
  padding: 50px;
  word-spacing: 2px;
  width: 100%;
}

.current-project > div {
  align-items: flex-end;
  background: none;
  display: flex;
  flex-direction: column;
  height: 86%;
  overflow: hidden;
  width: 46%;
}

.current-project > div > h3 {
  font-family: 'Oswald';
  font-size: 70px;
  margin-top: 12px;
}

.current-project > div > p {
  background: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  text-align: right;
}

.current-project > div > img {
  height: 100%;
}
