body {
  height: 1600px;
}

#canvas {
  background: #87e;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: auto;
}

.content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
